:root {
    --background: #f1f1f1;
    --bg-selected-item: #cdcdcd;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

html {
    font-size: 20px;
}

#root {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    font-family: monospace;
}

.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
        "left-column graphs"
        "left-column expenses";
    gap: 1rem 1rem;
}

.text-standart {
    font-size: 1rem;
}

@keyframes skeleton-animation {
    100% {
        transform: translateX(100%);
    }
}

.skeleton-card {
    width: 100%;
    height: 100%;
    background-color: rgb(158, 158, 158);
    margin: 0.1rem 0;
    border-radius: 0.3rem;
    display: inline-flex;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.skeleton-card::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,
            rgb(158, 158, 158),
            rgb(228, 228, 228),
            rgb(158, 158, 158));
    transform: translateX(-100%);
    animation-name: skeleton-animation;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.categories-tree {
    grid-area: left-column;
    border: 1px solid red;
    width: 20rem;
    overflow: hidden;
    height: 100vh;
}

.category-tree-all {
    cursor: pointer;
}

.categories-tree-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

.invisible-btn {
    display: none;
}

.categories-tree-item:hover .invisible-btn {
    display: inline;
}

.categories-tree-item.selected span {
    background-color: var(--bg-selected-item);
    font-weight: bold;
}

.categories-tree-item.level-1 {
    margin-left: 0;
}

.categories-tree-item.level-2 {
    margin-left: 0.5rem;
}

.categories-tree-item.level-3 {
    margin-left: 1rem;
}

.categories-tree-item.level-4 {
    margin-left: 1.5rem;
}

.categories-tree-item.level-5 {
    margin-left: 2rem;
}

.expenses-list {
    grid-area: expenses;
    width: 100%;
    height: 100%;
}

.expenses-list .list-container {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.expense {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 1.5rem;
    cursor: pointer;
}

.expense:hover .invisible-btn {
    display: inline;
}

.vanishing-block {
    border: 1px solid black;
}

.piechart-container {
    grid-area: graphs;
}

.color-marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.2rem;
}

.inline-form {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
}

.inline-form .react-colorful {
    position: absolute;
}

.icon-btn {
    cursor: pointer;
    background: none;
    margin: 0 0.2rem;
}

.svg-icon {
    fill: #000000;
    width: 1rem;
    height: 1rem;
}