:root {
    --background-1: #889399;
    --background-2: #000000;
    --bg-selected-item: #cdcdcd;
    --bg-form: #ffffff;
    --bg-form-input: #f1f1f1;
    --border-color: #ffffff;
    --border-color-disabled: #c9c9c9;
    --opposite-color: #333333;
    --border-width: 0.08rem;
    --text-main: #f6f6f6;
    --text-muted: #bbbbbb;
    --text-error: #fd7171;
    --input-radius: 0.2rem;
    --input-font-size: 0.8rem;
    --black-hole-core-fg-diameter: 500px;
    --black-hole-core-bg-diameter: 510px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    color: var(--text-main);
    font-family: sans-serif;
    background:
        url("./assets/noise.svg"),
        var(--background-2);
    /* background-image: url("./assets/noise.svg"); */
}

html {
    font-size: 20px;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 6fr;
    grid-template-areas:
        "logo     graph-2  graph-3"
        "graph-1  graph-2  graph-3"
        "column-1 column-2 column-3";
    gap: 1rem 1rem;
    background:
        url("./assets/noise.svg"),
        linear-gradient(0deg, var(--background-1), var(--background-2));
}

.text-standart {
    font-size: 1rem;
    color: var(--text-main)
}

@keyframes skeleton-animation {
    100% {
        transform: translateX(100%);
    }
}

.skeleton-card {
    width: 100%;
    height: 100%;
    background-color: rgb(158, 158, 158);
    margin: 0.1rem 0;
    border-radius: var(--input-radius);
    display: inline-flex;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.skeleton-card::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,
            rgb(158, 158, 158),
            rgb(228, 228, 228),
            rgb(158, 158, 158));
    transform: translateX(-100%);
    animation-name: skeleton-animation;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.list-column {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    justify-content: start;
    align-items: start;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.categories-tree {
    grid-area: column-3;
}

.category-tree-all {
    cursor: pointer;
}

.categories-tree-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    min-height: 1.5rem;
    cursor: pointer;
    border-radius: var(--input-radius);
}

.invisible-btn {
    display: none;
}

.categories-tree-item:hover .invisible-btn {
    display: inline;
}

.categories-tree-item.selected span {
    background-color: var(--bg-selected-item);
    font-weight: bold;
}

.categories-tree-item.level-1 {
    margin-left: 0;
}

.categories-tree-item.level-2 {
    margin-left: 1rem;
}

.categories-tree-item.level-3 {
    margin-left: 2rem;
}

.categories-tree-item.level-4 {
    margin-left: 3rem;
}

.categories-tree-item.level-5 {
    margin-left: 4rem;
}

/* .category-inline-form-container {
    width: 100%;
} */
.expenses-list {
    grid-area: column-2;
    min-width: 20rem;
}

.expense {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    min-height: 1.5rem;
}

.expense-name {
    min-width: 4rem;
    width: 15rem;
    /* max-width: 15rem; */
    overflow: hidden;
}

.expense-sum {
    min-width: 4rem;
    width: 6rem;
}

.expense-currency {
    min-width: 1.5rem;
}

.expense-date {
    min-width: 4rem;
    width: 5rem;
    color: var(--text-muted);
    font-size: 0.7rem;
}

.expense:hover .invisible-btn {
    display: inline;
}

.expenses-form-container {
    width: 100%;
}

.piechart-container {
    grid-area: graph-3;
}

.color-marker {
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color);
    cursor: pointer;
}

.inline-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem 0.5rem;
    padding: 0.2rem;
    background: none;
    border-radius: var(--input-radius);
    border: var(--border-width) solid var(--border-color);
}

.inline-form input {
    height: 1.5rem;
    border: none;
    outline: none;
    border-bottom: var(--border-width) solid var(--border-color);
    padding: 0 0.2rem;
    font-size: 1rem;
    background: none;
    color: inherit;
    position: relative;
}

.inline-form select {
    height: 1.5rem;
    appearance: none;
    border: none;
    border-radius: 0%;
    outline: none;
    border-bottom: var(--border-width) solid var(--border-color);
    padding: 0 0.2rem;
    font-size: 1rem;
    background: none;
    color: inherit;
}

.inline-form .short-input {
    width: 4.4rem;
}

.inline-form .standart-input {
    width: 7rem;
}

.inline-form .react-colorful {
    position: absolute;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 0 0.5rem;
}

.logout {
    grid-area: logo;
}

.logout.icon-btn {
    width: 2rem;
    height: 2rem;
}

button {
    cursor: pointer;
    background: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--input-radius);
    font-size: var(--input-font-size);
    color: var(--border-color);
    fill: var(--border-color);
    width: 5rem;
    min-height: 1.5rem;
    height: 1.5rem;
}

button:not([disabled]):hover {
    background-color: var(--border-color);
    fill: var(--opposite-color);
    color: var(--opposite-color);
}

button:disabled {
    cursor: progress;
    border-color: var(--border-color-disabled);
    color: var(--border-color-disabled);
    fill: var(--border-color-disabled);
}

.icon-btn {
    background: none;
    border: none;
    fill: var(--text-main);
    /* stroke: var(--text-main); */
    width: 1rem;
    min-height: 1rem;
    height: 1rem;
}

.icon-btn:hover {
    background: none;
    fill: var(--border-color);
}

.btn-centered {
    align-self: center;
}

.svg-icon {
    width: 1rem;
    height: 1rem;
}

.orbits {
    position: absolute;
    margin: -150px -150px;
}

/* .orbits circle {
    filter: url(#glow);
} */
.black-hole-container {
    margin: 6rem auto;
    width: var(--black-hole-core-fg-diameter);
    height: var(--black-hole-core-fg-diameter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#black-hole-core-bg {
    position: absolute;
    margin: -5px -5px;
    width: var(--black-hole-core-bg-diameter);
    height: var(--black-hole-core-bg-diameter);
    background: radial-gradient(circle closest-side, white 80%, transparent)
}

#black-hole-core-fg {
    z-index: 1;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 12rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.auth-form input {
    height: 1.5rem;
    width: 9rem;
    border: none;
    outline: none;
    border-bottom: var(--border-width) solid var(--border-color);
    padding: 0 0.2rem;
    font-size: 1rem;
    background: none;
    color: inherit;
    position: relative;
}

button.auth-option {
    border: none;
    border-bottom: var(--border-width) solid var(--border-color);
    box-sizing: border-box;
    border-radius: 0%;
}

button.auth-option:hover {
    background: none;
    color: var(--border-color)
}

button.auth-option.dull {
    color: var(--text-muted);
    border: none;
}

button.auth-option.dull:hover {
    color: var(--border-color);
}

.error {
    display: inline-block;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--input-radius);
    color: var(--text-error);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}