:root {
    --background: #ffffff;
}

html {
    font-size: 20px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    font-family: "Verdana", sans-serif;
    background-color: var(--background);
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 2fr minmax(0, 6fr);
    grid-template-areas:
        "logo     graph-2  graph-3"
        "graph-1  graph-2  graph-3"
        "column-1 column-2 column-3";
    gap: 1rem 1rem;
}

.pie-chart {
    grid-area: graph-3;
}

.regular-expenses-list {
    grid-area: column-1;
}

.expenses-list {
    grid-area: column-2;
    min-width: 20rem;
}

.categories-list {
    grid-area: column-3;
}

.vanishing-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.vanishing-bg.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vanishing-bg.clear {
    background: none;
}

.vanishing-bg.blur {
    backdrop-filter: blur(10px);
}

.list-controls {
    height: 5%;
}

.list-column {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    justify-content: start;
    align-items: start;
}

.checkbox-column {
    min-width: 1rem;
}

.list-column .checkbox-column * {
    display: none;
}

.list-column:hover .checkbox-column *,
.list-column.visible-checkbox .checkbox-column * {
    display: inline;
}

.invisible-ctrls {
    min-width: 2rem;
}

.invisible-ctrl {
    display: none;
}

.list-item:hover .invisible-ctrl {
    display: inline;
}

.expense {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-height: 1.5rem;
    min-height: 1.5rem;
}

.expense-name {
    min-width: 4rem;
    width: 18rem;
    overflow: hidden;
    white-space: nowrap;
}

.expense-sum {
    min-width: 3.5rem;
    width: 6rem;
}

.expense-currency {
    min-width: 1.5rem;
}

.expense-date {
    min-width: 4rem;
    width: 5rem;
    color: var(--text-muted);
    font-size: 0.7rem;
}

.color-marker {
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color);
    cursor: pointer;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    min-height: 1.5rem;
    cursor: pointer;
    border-radius: var(--input-radius);
}

.category.selected {
    background-color: #c4c4c4;
}

.category.level-1 {
    margin-left: 0;
}

.category.level-2 {
    margin-left: 1rem;
}

.category.level-3 {
    margin-left: 2rem;
}

.category.level-4 {
    margin-left: 3rem;
}

.category.level-5 {
    margin-left: 4rem;
}

.regular-expense {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-height: 1.5rem;
    min-height: 1.5rem;
    margin-left: 1rem;
}

.regular-expense-name {
    min-width: 4rem;
    width: 6rem;
    overflow: hidden;
    white-space: nowrap;
}

.regular-expense-sum {
    min-width: 3.5rem;
    width: 4rem;
}

.regular-expense-currency {
    min-width: 1.5rem;
}

.regular-expense-date {
    min-width: 4rem;
    width: 8rem;
    color: var(--text-muted);
    font-size: 0.7rem;
}

.icon-btn {
    background: none;
    border: none;
    fill: var(--text-main);
    /* stroke: var(--text-main); */
    width: 1rem;
    min-height: 1rem;
    height: 1rem;
}

button.icon-btn:hover {
    background: none;
    fill: var(--border-color);
}